In [1]:
##############################  variables ####################################  

# wage               : wage, lwage
# gender             : sex
# race               : white, black, hisp
# education          : shs, hsg, scl, clg
# region             : mw, so, we
# union membership   : union
# veteran status     : vet
# city               : cent, ncent
# family size        : fam1, fam2, fam3
# having children    : child
# foreign born       : fborn
# citizenship        : cit
# school attandence  : school
# pension            : pens
# firm size          : fsize10, fsize100
# health status      : health
# age                : age
# experience         : exp1, exp2, exp3, exp4
# occupation         : occ(factor with 456 levels), occ2(factor with 22 levels-aggregated)
# industry           : ind(factor with 257 levels), ind2(factor with 23 levels-aggregated)

###############################################################################

In [2]:
# Importing Libraries
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames

# Pretty display for notebooks
%matplotlib inline

## Getting Data

In [3]:
# Load the wholesale customers dataset
try:
    data = pd.read_csv("data.csv", index_col=0)

    print("Dataset has {} samples with {} features each.".format(*data.shape))
except:
    print("Dataset could not be loaded. Is the dataset missing?")

Dataset has 12697 samples with 37 features each.

In [4]:
data_features = data.drop(['wage', 'lwage'],  axis=1)

data_features.head(5)

,sex,white,black,hisp,shs,hsg,scl,clg,mw,so,...,health,age,exp1,exp2,exp3,exp4,occ,occ2,ind,ind2
1,0,1,0,0,0,0,0,1,0,0,...,1,31,7.0,0.49,0.343,0.2401,3600.0,11,8370.0,18
2,1,1,0,0,0,0,0,1,0,0,...,1,55,31.0,9.61,29.791,92.3521,3050.0,10,5070.0,9
3,1,1,0,0,0,1,0,0,0,0,...,1,38,18.0,3.24,5.832,10.4976,6260.0,19,770.0,4
4,1,1,0,0,0,0,1,0,0,0,...,1,35,13.0,1.69,2.197,2.8561,6050.0,18,170.0,1
5,0,1,0,0,0,0,0,0,0,0,...,0,51,25.0,6.25,15.625,39.0625,420.0,1,6990.0,12

## Data Exploration

In [5]:
# Display a description of the dataset
display(data.describe())

,wage,lwage,sex,white,black,hisp,shs,hsg,scl,clg,...,health,age,exp1,exp2,exp3,exp4,occ,occ2,ind,ind2
count,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,...,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000,12697.000000
mean,18.145961,2.730945,0.542805,0.696070,0.189179,0.222887,0.064661,0.308734,0.301567,0.236513,...,0.717650,33.703158,12.064897,2.762380,8.145416,27.794773,8440.043554,12.966449,7771.903836,13.266598
std,10.466483,0.625985,0.498184,0.459971,0.391666,0.416200,0.245936,0.461989,0.458956,0.424957,...,0.450161,11.347140,11.431822,4.490614,19.186165,91.651419,19443.325548,6.647292,11658.013997,5.902888
min,0.001923,-6.253829,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,10.000000,1.000000,170.000000,1.000000
25%,10.576923,2.358675,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,25.000000,3.000000,0.090000,0.027000,0.008100,2340.000000,8.000000,4970.000000,9.000000
50%,15.384615,2.733368,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,30.000000,8.000000,0.640000,0.512000,0.409600,4700.000000,15.000000,7380.000000,14.000000
75%,23.237179,3.145754,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,40.000000,19.000000,3.610000,6.859000,13.032100,6220.000000,17.000000,8290.000000,18.000000
max,58.119658,4.062504,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,85.000000,65.500000,42.902500,281.011375,1840.624506,100000.000000,22.000000,100000.000000,23.000000

## Preprocessing

In [6]:
# Import sklearn.preprocessing.StandardScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
# Normalizing Numerical Features
data_features_scaled = pd.DataFrame(scaler.fit_transform(data_features), index=data_features.index, columns=data_features.columns)
data_features_scaled.head(5)

,sex,white,black,hisp,shs,hsg,scl,clg,mw,so,...,health,age,exp1,exp2,exp3,exp4,occ,occ2,ind,ind2
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.217391,0.106870,0.011421,0.001221,0.000130,0.035904,0.476190,0.082140,0.772727
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.565217,0.473282,0.223996,0.106014,0.050174,0.030403,0.428571,0.049083,0.363636
3,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.318841,0.274809,0.075520,0.020754,0.005703,0.062506,0.857143,0.006010,0.136364
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.275362,0.198473,0.039392,0.007818,0.001552,0.060406,0.809524,0.000000,0.000000
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.507246,0.381679,0.145679,0.055603,0.021222,0.004100,0.000000,0.068316,0.500000

In [7]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import LabelEncoder

#Getting features and target
wages = LabelEncoder().fit_transform(data['lwage'])
features = data_features_scaled


#Quadratic - polynomial features
polynomial_features = PolynomialFeatures(degree=2)
features_poly = polynomial_features.fit_transform(features)

features.head(5)

,sex,white,black,hisp,shs,hsg,scl,clg,mw,so,...,health,age,exp1,exp2,exp3,exp4,occ,occ2,ind,ind2
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.217391,0.106870,0.011421,0.001221,0.000130,0.035904,0.476190,0.082140,0.772727
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.565217,0.473282,0.223996,0.106014,0.050174,0.030403,0.428571,0.049083,0.363636
3,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.318841,0.274809,0.075520,0.020754,0.005703,0.062506,0.857143,0.006010,0.136364
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.275362,0.198473,0.039392,0.007818,0.001552,0.060406,0.809524,0.000000,0.000000
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.507246,0.381679,0.145679,0.055603,0.021222,0.004100,0.000000,0.068316,0.500000

In [8]:
from sklearn.model_selection import train_test_split

# Split the 'features' and 'wage' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, 
                                                    wages, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

# Split the 'features' and 'wage' polynomial
X_train_poly, X_test_poly, y_train_poly, y_test_poly = train_test_split(features_poly, 
                                                    wages, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

In [9]:
from sklearn.metrics import accuracy_score, log_loss, mean_squared_error
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.linear_model import LinearRegression, LogisticRegression, Lasso, Ridge, LassoLars, ElasticNet, LassoLars
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier

from sklearn.model_selection import cross_validate


from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

 
classifiers =   {
                    'LinearRegression': LinearRegression(),
                    'LinearRegressionPoly': LinearRegression(),
                    'Lasso': Lasso(alpha=1),
                    'LassoLars': LassoLars(),
                    'Ridge': Ridge(alpha=0),
#                     'ElasticNet': ElasticNet(alpha=.5),
                    'RandomForest': RandomForestClassifier(n_estimators=2000, max_depth=1000, min_samples_leaf=5),
#                     'BoostingTree': GradientBoostingClassifier(n_estimators=1000, max_depth=2),
                    'MLPClassifier': MLPClassifier(hidden_layer_sizes=(5,), max_iter=1000)
                    
                }
results = {}

for classifier in classifiers:
    pipe = Pipeline(steps=[('classifier', classifiers[classifier])])
    results[classifier] = {}
    if (classifier == 'LinearRegressionPoly'):
        pipe.fit(X_train_poly, y_train_poly)
        y_train_pred_poly = pipe.predict(X_train_poly)
        y_test_pred_poly = pipe.predict(X_test_poly)
        
        results[classifier]['model score'] = pipe.score(X_test_poly, y_test_poly)
        results[classifier]['mean square'] = cross_validate(pipe, X_train_poly, y_train_poly)['test_score'].mean()
        results[classifier]['Train RMSE'] = mean_squared_error(y_train_poly, y_train_pred_poly, squared=False)
        results[classifier]['Test RMSE'] = mean_squared_error(y_test_poly, y_test_pred_poly, squared=False)
    
    else:
        pipe.fit(X_train, y_train)
        y_train_pred = pipe.predict(X_train)
        y_test_pred = pipe.predict(X_test)
        results[classifier]['model score'] = pipe.score(X_test, y_test)
        results[classifier]['mean square'] = cross_validate(pipe, X_train, y_train)['test_score'].mean()
        results[classifier]['Train RMSE'] = mean_squared_error(y_train, y_train_pred, squared=False)
        results[classifier]['Test RMSE'] = mean_squared_error(y_test, y_test_pred, squared=False)

/Users/claudiogimenestoledo/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
/Users/claudiogimenestoledo/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  % (min_groups, self.n_splits)), UserWarning)
/Users/claudiogimenestoledo/anaconda3/lib/python3.6/site-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [10]:
df_results = pd.DataFrame.from_dict(results, orient='index').sort_values(['model score'], ascending=False)
df_results

                      model score  mean square  Train RMSE   Test RMSE
LinearRegression         0.326885     0.374849  344.066830  350.631394
Ridge                    0.326885     0.374849  344.066830  350.631394
Lasso                    0.323927     0.367522  346.362801  351.400973
LinearRegressionPoly     0.297578     0.237360  325.528692  358.183136
LassoLars                0.100353     0.138193  413.152868  405.361373
RandomForest             0.094882     0.082209  108.455552  401.047029
MLPClassifier            0.057087     0.060746  391.099034  398.165118